/* 

Selectores

Son patrones que permiten seleccionar y aplicar estilos especificos a elementos de una página web.

tipos de selectores
1.- Señectores basicos
    -Selector universal
    -Selectores de tipo

2. Selectores de clase

3. Selectores de Id
    seleccionan un elemento único con un identificador especifico
    
    se usa en la "notación" de numeral (#) antes del nombre del id.

    #nombreId {
    propiedad: valor;
    {

4. Selectores de conbinados
    -desendientes
        seleccionan elementos dentor de otros elementos

        elemento elementoInterno {
        propiedad: valor;
        }

    -hijo directo
        Selecciona elementos que son hijos directos de un elemento padre.

        elemento > elementosHijos {
        Propiedades valor;
        }

    -elemento adjacente

        Selecciona el primer elemento inmediatamente despues del otro. (Su hermano inmediato o en ingles sibling)

        elemento + elementoAdjacente {
        propiedad: valor
        }

    -hermano general

        slecciona todos los elementos hermanos después de un elemento.

        elemento ~ elementoHermano {
         propiedad: valor
        }


5. Selectores de atributos
    -Atributo
        selecciona elementos segun el atribto que indiquemos sin importar su valor

        elmento [atributo] {
        propiedad: valor;
        }

    -Atributo con Valor
        selecciona elementos según el atributo y el valor que índiquemos.

            elmento [atributo=valor] {
            propiedad: valor;
        }
 
6. Selectores avanzados

    - Pseudo-clases
        seleccionmos elementos en un estado en particular

            elemento:pseudoclase {
            Propiedd: valor;
            }


    - Pseudo-elementos
    seleccionamn partes especifoicas de un elemento en html

    elemento::pseudoelementos {
    propiedad: valor;
    }


*/

/* 

Selectores Básicos

*/

/* Universal -> Seleccionar todos los elementos de un documento */

* {
   /* border: 2px solid red;*/
    /* resset básico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* selectores de tipo -> Seleccionan un tipo de elemento en html */

body {
    background-color: antiquewhite;
}
h1 {
    color: darkblue;
}
p {
    font-size: 24px;
}

header {
    background-color: cadetblue;
}

/*selectores de clase*/

::content {
    background-color: azure;
    padding: 48px;
}
.hero {
    background-color: brown;
    padding: 24px;
}

.hero-title {
    background-color: blue;
    padding: 16px;
    color: aliceblue;
    text-align: center;
}

/*selector Id*/
#about-title {
    color: yellow;
    font-size: 72px;
}

/*combinado - Elementos desendientes*/

aside section {
    background-color: green;
    padding: 48px;
}
.aside-section h3 {
    color: aquamarine;
    text-align: right;
    padding: 24px;
    background-color: rgb(211, 139, 44);
}

/* combindos - Hijos directos */

ul > li {
    background-color: lightblue;
}

.lista > li {
    font-size: 8px;
    color: darkblue;
}

/* combindos - elemento Adjacente */

h3 + ul {
    list-style: none;
}


.bro + li {
    background-color: brown;
}    

/* combindos - Hermano general */

.bro + li ~ li{
    background-color: rgb(224, 18, 197);
}

.tercero ~ li {
    color: black;
    font-size: 40px;
}



/* selector de atributo */
a[href] {
    display: block;
    text-decoration: none;
    color: magenta;
}

/* selector de atributo con valor */

a[ href="https://www.Instagram,com"] {
    font-size: 48px;
    color: orangered;
}

/* pseudo-clase */

a:hover {
    background-color: purple;
    color: white;
    text-decoration: underline;
}

a:focus {
    border: 3px solid red;
}

/* pseudo-elementos */

a::after {
    content: "🔥";
}

a::before {
    content: "Este es un enlace hacia: ";
}