/* 

unidades de medida en css

las unidades de medida en css se dividen en dos categorias principales.

1. unidades absolutas (valores fijos)

son medidas que se mantienen sus valores fijos independientemente del dispositivo o contexto. Es decir siempre tendran el mismo valor sin importar el tamaño de pantalla o el elemento contenedor.

son utiles cuando se requiere presición en las medidas, el problema de esto es que no son ideales para diseño web responsivo.

las unidad más usada:
- px (pixeles): Esta unidad marca un punto en la pantalla. 1/96 de 1in

Otras unidades:

- cm (centimetros) 1cm = 96px | 2.54in 
- mm (milimetros)  1/10 de 1cm
- in (pulgadas)    1in = 96px
- pc (picas)       1/6 de 1in
- pt (puntos)      1/72 de 1in

2.unidades relativas (valores variables)

son medidas que adaptan sus valores en función del dispositivo o contexto. Es decir que siempre ajustaran su valor de acuerdo al tamño de pantalla al contenedor u otro valor de referencia.

son útiles cuando se nececita flecibilidad y son ideales para el diseño web responsivo.

las unidades más usadas
- em: relativa al tamaño de fuente del elemento padre en html.
- rem: relativa al tamaño de fuente del elemento root <html>
- %: porcentaje es relativo al elemento padre.
- vw: viewport widh (ancho de la ventana) porcentaje relativo al ancho de la ventana
- vh: viewport hegiht (alto de la ventana) porcentaje relativo a la altura de la ventana
- vmin: viewport min. porcentaje relativo al lado mas pequeño de la ventana.
- vmax: viewport max. porcentaje relativo al lado mas grande de la ventana.

otras unidades:
- ex: es relativa a la altura de las "x" minuscúlas.
- ch: ee relativa al ancho del carácter "0".
- lh: es relativo a la altura de la linea del elemento html. leading o interlineado, En CSS Line Height

*/

* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    background-color: grey;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px
}

section {
    font-size: 20px;
    margin: 40px 0;
    padding: 20px;
    border: 1px solid white;
    border-radius: 16px;
    background-color: rgb(122, 98, 98);
}

div {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
    color: antiquewhite;
}

/* Unidades absolutas */

.absolute-box{
    border-radius: 24px;
}
.px {
    width: 100px;
    height: 100px;
    background-color: chocolate;
}
.cm {
    width: 2cm;
    height: 3cm;
    background-color: darkcyan;
}
.in {
    width: 1in;
    height: 0.8in;
    background-color: forestgreen;
}


/* unidades relativas */

.relative-box {
    border-radius: 12px;
}

.em{
    font-size: 3em; /* Equivale al font-size del padre = 60px */
    background-color: fuchsia;
}

.rem{
    font-size: 2.5rem; /* Equivale al font-size del root (html)= 32px */
    background-color: blue;
}
.percent{
    width: 50%;
    height: 100px;
    background-color: blueviolet;
}
.vw{
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: brown;
}
.vh{
    width: 30vh;
    height: 100vw;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: burlywood;
}
.vmin{
    width: 20vmin;
    background-color: darkgrey;
}
.vmax{
    width: 20vmax;
    background-color: forestgreen;
}

/* unidades de medida relativa final */