body {
    background-color: darkblue;
}

/* 
Propiedade de texto estan relacionadas con el estilo o formato d elos textos. 
Permiten controlar su a parienci, alineación, espaciado y decoación

Principales

Color: --> Define el color del texto. recibe diferentes tipos de valores: keywords, hexadecimal, rgb o rgba, hsl, transparent.

Font-family: --> Define la familia tipografica del texto. Recibe los nombres de las familias, si ond edos palabras se escribe entre comillas. acept mas de dos vaores separados por comas como fuentes de respaldo

Font-size --> Define el tamaño del texto acepta valore en px. em y rem, porcentaje,terminos predefinidos

Font-style --> El estilo la fuente recibe parametros normal, italic y oblique

text-aling: Define la alineacion del texto. Recibe los valores left, rigth, center, justify, start, end.

text-decortion --> Añade una lnea transversal al texto. Recibe los valores: none,underline, overline, line-through.

text-transform -> Controla la capacitacion del texto. Recibe los valore: uppercase, lowercse, capitlize

line height --> espacio entre las lineas de texto. Recibe valore en px, %, em y rem, un valor sin unidad sera relativo al tamaño de la fuente.

letter-spacing --> espacio entre letra. Recibe valores: px, rem y em.

word-spacing --> espacio entre palabras. Recibe valores: px, rem y em. 

text-shadow --> Sombra del texto. Recibe los valores en el siguiente orden: offset-x, offset-y, blur y color

10px 10px 10px 10px red -> Derecha y abajo

-10px -10px -10px -10px blue --> Izquierda y arriba
*/

h1 {
    color: palevioletred; /* Keywords */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%; /* 16px=100% */
    font-size: larger;
    font-size: 40px;
    font-style: oblique;
    text-align: center;
    text-decoration: line-through;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.664);

}

p {
    color: rgb(102, 21, 102);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24;
    font-size: 100%;
    font-size: medium;
    font-style: italic;
    text-align: right;
    text-transform: capitalize;
    line-height: 50px;
    word-spacing: 7px;
}

.impotant {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: large;
}

a {
    color: yellow;
    font-size: larger;
    text-decoration: none;
    text-transform: lowercase;
}